<section class="section-four" id="gallery">
  <div class="container four-div">
    <h2 class="h-four">Breathe in the Space</h2>
    <p class="p-four">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="ul-four">
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt1x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt1x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt1x1top.webp 1x,
              /img/breath-in-the-space/chatgpt1x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt1x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt1x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt1x1tel.webp" alt="yoga" />
        </picture>
      </li>
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt2x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt2x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt2x1top.webp 1x,
              /img/breath-in-the-space/chatgpt2x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt2x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt2x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt2x1tel.webp" alt="yoga" />
        </picture>
      </li>
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt3x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt3x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt3x1top.webp 1x,
              /img/breath-in-the-space/chatgpt3x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt3x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt3x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt3x1tel.webp" alt="yoga" />
        </picture>
      </li>
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt4x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt4x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt4x1top.webp 1x,
              /img/breath-in-the-space/chatgpt4x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt4x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt4x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt4x1tel.webp" alt="yoga" />
        </picture>
      </li>
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt5x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt5x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt5x1top.webp 1x,
              /img/breath-in-the-space/chatgpt5x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt5x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt5x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt5x1tel.webp" alt="yoga" />
        </picture>
      </li>
      <li class="li-four">
        <picture>
          <source
            srcset="
              /img/breath-in-the-space/chatgpt6x1desk.webp 1x,
              /img/breath-in-the-space/chatgpt6x2desk.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt6x1top.webp 1x,
              /img/breath-in-the-space/chatgpt6x2top.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/breath-in-the-space/chatgpt6x1tel.webp 1x,
              /img/breath-in-the-space/chatgpt6x2tel.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/breath-in-the-space/chatgpt6x1tel.webp" alt="yoga" />
        </picture>
      </li>
    </ul>
  </div>
</section>
