<div class="burger-menu"  data-menu>
  <div class="burger-menu-container container">
    <nav class="burger-menu-nav">
      <ul class="burger-nav-list">
        <li>
          <a href="#yoga-classses" class="burger-nav-link">Yoga Classes</a>
        </li>
        <li><a href="#team" class="burger-nav-link">Team</a></li>
        <li>
          <a href="#testimonials" class="burger-nav-link">Testimonials</a>
        </li>
        <li><a href="#pricing" class="burger-nav-link">Pricing</a></li>
        <li><a href="#connect" class="burger-nav-link">Contacts</a></li>
      </ul>
      <a href="#" class="burger-link-button full-width">Join</a>
    </nav>
  </div>
</div>
