<header class="header">
  <div class="container">
    <button class="burger-btn" name="menu-open-button" type="button" data-menu-toggle>
      <span class="burger-icon"></span>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="#yoga-classses" class="header-link current">Yoga Classes</a>
        </li>
        <li><a href="#team" class="header-link">Team</a></li>
        <li><a href="#testimonials" class="header-link">Testimonials</a></li>
        <li><a href="#pricing" class="header-link">Pricing</a></li>
        <li><a href="#connect" class="header-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-logo-container">
      <a aria-label="main page link" href="https://fedorivrv.github.io/quantum-bananas/">
        <svg class="header-icon-logo" width="84" height="36">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="header-link-button-container">
      <a href="#pricing" class="header-link-button">Join</a>
    </div>
  </div>
</header>
