<section class="price" id="pricing">
    <div class="container container-price">
        <p class="price-descr">Affordable</p>
        <h2 class="price-title">Pricing Plans</h2>
        <p class="price-text">Choose the perfect plan for your yoga journey.</p>
        <ul class="price-list">
            <li class="price-item">
                <div class="price-item-wrapper">
                    <h3 class="price-item-title">One Session</h3>
                    <p class="price-item-descr">$10</p>
                    <ul class="payment-list">
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">1 group session</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">10% discount for next 2 Sessions</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Community support group</p>
                        </li>
                    </ul>
                </div>
                <button class="price-btn" type="button" data-index="0">Join</button>
            </li>
            <li class="price-item">
                <div class="price-item-wrapper">
                    <h3 class="price-item-title">8 Sessions Package</h3>
                    <p class="price-item-descr">$65</p>
                    <ul class="payment-list">
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">6 Group Sessions</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">2 Individual Sessions</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Priority customer support</p>
                        </li>
                    </ul>
                </div>
                <button class="price-btn" type="button" data-index="1">Join</button>
            </li>
            <li class="price-item price-item-last">
                <div class="price-item-wrapper price-item-wrapper-end">
                    <div class="price-item-last-wrapper">
                        <h3 class="price-item-title">12 Sessions Package</h3>
                        <p class="price-item-descr">$80</p>
                    </div>
                    <ul class="payment-list">
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">8 Group Sessions</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">4 Individual Sessions</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Access to advanced classes</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Monthly yoga challenges</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Exclusive member discounts</p>
                        </li>
                        <li class="payment-item">
                            <svg class="payment-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-check"></use>
                            </svg>
                            <p class="payment-descr">Community support group</p>
                        </li>
                    </ul>
                </div>
                <button class="price-btn" type="button" data-index="2">Join</button>
            </li>
        </ul>
    </div>
</section>