<section class="team" id="team">
  <div class="container">
    <div class="title">
      <p class="meet">Meet</p>
      <h2 class="our-team">Our Team</h2>
      <p class="team-description">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>

    <ul class="team-card">
      <li class="team-name-list">
        <picture>
          <source
            srcset="/img/team/liam-desk.webp 1x, /img/team/liam-desk@2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/team/liam-tabl.webp 1x, /img/team/liam-tabl@2x.webp 2x"
            media="(min-width: 736px)"
          />
          <source
            srcset="/img/team/liam-mob.webp 1x, /img/team/liam-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/team/liam-mob.webp"
            alt="team picture Liam Johnson"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Liam Johnson</h3>
            <p class="team-job-title">Yoga Instructor</p>
            <p class="team-about-instructor">
              Liam specializes in mindfulness and stress reduction techniques
              through guided meditation.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              
              <a class="social-link" aria-label="linkedin link" href="https://www.linkedin.com/" target="_blank">
                <svg class="icon-fl" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" aria-label="Instagram link" href="https://www.instagram.com/" target="_blank">
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-name-list">
        <picture>
          <source
            srcset="/img/team/emma-desk.webp 1x, /img/team/emma-desk@2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/team/emma-tabl.webp 1x, /img/team/emma-tabl@2x.webp 2x"
            media="(min-width: 736px)"
          />
          <source
            srcset="/img/team/emma-mob.webp 1x, /img/team/emma-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/team/emma-mob.webp"
            alt="team picture Emma Stone"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Emma Stone</h3>
            <p class="team-job-title">Meditation Coach</p>
            <p class="team-about-instructor">
              Emma has over 10 years of experience in Hatha and Vinyasa yoga.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              <a class="social-link" aria-label="linkedin link" href="https://www.linkedin.com/" target="_blank">
                <svg class="icon-fl" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-name-list">
        <picture>
          <source
            srcset="
              /img/team/sophia-desk.webp    1x,
              /img/team/sophia-desk@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/sophia-tabl.webp     1x,
              /img//team/sophia-tabl@2x.webp 2x
            "
            media="(min-width: 736px)"
          />
          <source
            srcset="
              /img//team/sophia-mob.webp    1x,
              /img//team/sophia-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img//team/sophia-mob.webp"
            alt="team picture Sophia Lee"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Sophia Lee</h3>
            <p class="team-job-title">Pilates Trainer</p>
            <p class="team-about-instructor">
              Sophia combines Pilates with yoga for a holistic fitness approach.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              <a class="social-link" aria-label="Instagram link" href="https://www.instagram.com/" target="_blank">
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-name-list">
        <picture>
          <source
            srcset="/img/team/noah-desk.webp 1x, /img/team/noah-desk@2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/team/noah-tabl.webp 1x, /img/team/noah-tabl@2x.webp 2x"
            media="(min-width: 736px)"
          />
          <source
            srcset="/img/team/noah-mob.webp 1x, /img/team/noah-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/team/noah-mob.webp"
            alt="team picture Noah Brown"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Noah Brown</h3>
            <p class="team-job-title">Yoga Therapist</p>
            <p class="team-about-instructor">
              Noah focuses on therapeutic yoga to aid recovery and enhance
              well-being.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              <a class="social-link" aria-label="linkedin link" href="https://www.linkedin.com/" target="_blank">
                <svg class="icon-fl" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-name-list">
        <picture>
          <source
            srcset="/img/team/ava-desk.webp 1x, /img/team/ava-desk@2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="/img/team/ava-tabl.webp 1x, /img/team/ava-tabl@2x.webp 2x"
            media="(min-width: 736px)"
          />
          <source
            srcset="/img/team/ava-mob.webp 1x, /img/team/ava-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/team/ava-mob.webp"
            alt="team picture Ava Green"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Ava Green</h3>
            <p class="team-job-title">Fitness Trainer</p>
            <p class="team-about-instructor">
              Ava integrates strength training with yoga to promote overall
              fitness.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              <a class="social-link" aria-label="Facebook link" href="https://www.facebook.com/" target="_blank">
                <svg class="icon-fl icon-facebook" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" aria-label="linkedin link" href="https://www.linkedin.com/" target="_blank">
                <svg class="icon-fl" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" aria-label="Instagram link" href="https://www.instagram.com/" target="_blank">
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-name-list">
        <picture>
          <source
            srcset="
              /img/team/clark-desk.webp    1x,
              /img/team/clark-desk@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/team/clark-tabl.webp    1x,
              /img/team/clark-tabl@2x.webp 2x
            "
            media="(min-width: 736px)"
          />
          <source
            srcset="/img/team/clark-mob.webp 1x, /img/team/clark-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="team-image"
            src="/img/team/clark-mob.webp"
            alt="team picture Clark Thomas"
          />
        </picture>

        <div class="team-box">
          <div class="team-name-job">
            <h3 class="team-box-name">Clark Thomas</h3>
            <p class="team-job-title">Fitness Trainer</p>
            <p class="team-about-instructor">
              Clark specializes in mindfulness and stress reduction techniques
              through guided meditation.
            </p>
          </div>

          <ul class="social-icon-item">
            <li>
              <a class="social-link" aria-label="Facebook link" href="https://www.facebook.com/" target="_blank">
                <svg class="icon-fl icon-facebook" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" aria-label="Instagram link" href="https://www.instagram.com/" target="_blank">
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
