<section class="yoga-programs" id="yoga-programs">
  <div class="container yoga-programs-container">
    <p class="yoga-programs-desc">Explore</p>
    <h2 class="yoga-programs-main-title">
      Discover Our Most Popular Yoga Programs
    </h2>
    <p class="yoga-programs-main-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-programs-list">
      <li class="yoga-programs-item">
        <picture>
          <source
            srcset="
              /img/yoga-programs/desktop/beginer-yoga.webp   1x,
              /img/yoga-programs/desktop/beginer-yoga2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/yoga-programs/tablet/beginer-yoga.webp   1x,
              /img/yoga-programs/tablet/beginer-yoga2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/yoga-programs/mobile/beginer-yoga.webp   1x,
              /img/yoga-programs/mobile/beginer-yoge2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="yoga-programs-img"
            src="/img/yoga-programs/mobile/beginer-yoga.webp"
            alt="Yoga-programs"
          />
        </picture>
        <h3 class="yoga-programs-title">Beginner Yoga: Foundations</h3>
        <p class="yoga-programs-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-programs-item">
        <picture class="yoga-programs-img">
          <source
            srcset="
              /img/yoga-programs/desktop/vynysia-yoga.webp   1x,
              /img/yoga-programs/desktop/vynysia-yoga2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/yoga-programs/tablet/vinyasa-yoga.webp   1x,
              /img/yoga-programs/tablet/vinyasa-yoga2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/yoga-programs/mobile/vinuasa-flow.webp   1x,
              /img/yoga-programs/mobile/vinuasa-flow2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="yoga-programs-img"
            src="/img/yoga-programs/mobile/vinuasa-flow.webp"
            alt="Yoga-programs"
          />
        </picture>
        <h3 class="yoga-programs-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-programs-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-programs-item">
        <picture>
          <source
            srcset="
              /img/yoga-programs/desktop/restorative-yoga.webp   1x,
              /img/yoga-programs/desktop/restorative-yoga2x.webp 2x
            "
            media="(min-width: 1336px)"
          />

          <source
            srcset="
              /img/yoga-programs/mobile/restorative-yoga.webp   1x,
              /img/yoga-programs/mobile/restorative-yoga2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="yoga-programs-img yoga-programs-img-main"
            src="/img/yoga-programs/mobile/restorative-yoga.webp"
            alt="Yoga-programs"
          />
        </picture>
        <img
          class="yoga-programs-img yoga-programs-img-tablet"
          src="/img/yoga-programs/tablet/restorative-yoga.webp "
          srcset="
            /img/yoga-programs/tablet/restorative-yoga.webp   1x,
            /img/yoga-programs/tablet/restorative-yoga2x.webp 2x
          "
          alt="yoga"
          width="704"
          height="282"
        />
        <h3 class="yoga-programs-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-programs-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a class="yoga-programs-btn yoga-programs-btn-mob" href="#pricing">Join</a>
    <a class="yoga-programs-btn yoga-programs-btn-main" href="#pricing"
      >Join now</a
    >
  </div>
</section>
